<span class="close">&times;</span>
<%= turbo_include_tags %>
<% if (@friendship.user_id == current_user.id) %>
  <% friend = User.find(@friendship.friend_id) %>
<% else %>
  <% friend = User.find(@friendship.user_id) %>
<% end %>
  <div class="friend_name">
    <h5 class='float-left'><%= render "users/profile_avatar", user: friend %>
      <%= friend.first_name %> <%= friend.last_name %></h5>
  </div>
<div class='clearfix'></div>
<hr>
<%= turbo_stream_from "messages" %>
<div class="div_height divScroll" id="messages" >
  <ul class="navbar-nav">
    <%= render @messages %>
  </ul>
</div> 

<%= render "form" %>

<script>
  var modal = document.getElementById("myModal");
  var span = document.getElementsByClassName("close")[0];
  span.onclick = function() {
    modal.style.display = "none";
    document.location.reload(true)
  }
  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
      document.location.reload(true)
    }
  }
</script>

