<li><ul><li><b><%= full_name(comment.user) %></b></li>
		    <li><%= comment.content %></li>
		    <li style="font-size: 64%;"><%= comment.created_at %></li>
		  	<li><%= render 'likes/like_comment', comment: comment %></li>
		  	<li><%= render 'comments/comment_link', comment: comment %></li></ul>
					<div class="comment_comment_form-<%=comment.id%>" style="align: center;" ></div>
        <ul class="index_comment_comment-<%=comment.id%>">
        	<% if action_name != "show" %>
          	<%= render comment.comments.last(2) %>
          <% else %>
          	<%= render comment.comments %>
          <% end %>
        </ul></li>
<style>
li {
  display:inline;
}

</style>