
<%= render 'layouts/nav', user: @user %>

<div class='clearfix'></div>
<hr>

<div class="row" >
  <div class="col-md-6">
    <div class="show_post">
      <div class="card">
        <div class="card-header">
          Profile
          <div class="float-right">
            <%= (link_to 'Edit Profile', edit_user_registration_path(@user)) if current_user.id == @user.id %>
          </div>
        </div>
        <table class="table table-bordered mb-0">
          <tbody>
              <tr>
                <th> Name </th>
                <td><%= @user.first_name %> <%= @user.last_name %></td>
              </tr>
              <tr>
                <th> Email </th>
                <td><%= @user.email %></td>
              </tr>
              <tr>
                <th> Date Of Birth </th>
                <td><%= @user.dob %></td>
              </tr>
              <tr>
                <th> Email </th>
                <td><%= @user.country_code %> <%= @user.mob_no %></td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
