<div class="show_post">
  <% posts.each do |post| %>
    <div class="card">
      <table class="table">
        <tbody>
          <%= render "posts/post", post: post %>
          <tr>
            <td><div class="panel-body text-center">
                  <ul class="nav nav-pills float-right">
                    <li class="nav-item" >
                      <%= render 'likes/like', post: post %>
                      <%= render 'comments/comment_button', post: post %>
                      <% if @user.nil? || current_user == @user %>
                        <%= link_to 'Show Post', post_path(post) %>
                      <% end %>
                    </li>
                  </ul>
                 </div>
            </td>
          </tr>
          <tr><td>
            <div class="comment_form"></div>
            <ul class="index_comment-<%=post.id%>">
            <%= render post.comments.last(3) %>
            </ul>
          </td></tr>

        </tbody>
      </table>
    </div><hr>
  <% end %>
</div>