<tr>
  <th><%= link_to user_path(post.user), class: "link_to", remote: (current_user != post.user) do %>
    <%= render "users/profile_avatar", user: post.user %>
    <% end %>
    <p style="font-size: small;"><%= post.created_at %></p></th>
</tr>
<tr>
  <td><%= post.content %></td>
</tr>
<tr>
  <% if post.avatar.attached? %>
    <td><img src="<%=(url_for(post.avatar))%>" class="float-left"></td>
  <% end %>
</tr>
