<div class='clearfix'></div>
<div class="row" >
  <div class="col-md-6">
    <div class="card">
			<div class="show_post">
				<div class="card">
					<table class="table">
						<tbody>
						  <%= render "posts/post", post: @post %>
						  <tr>
		            <td><div class="panel-body text-center">
		                  <ul class="nav nav-pills float-right">
		                    <li class="nav-item" >
		                      <%= render 'likes/like', post: @post %>
		                      <%= render 'comments/comment_button', post: @post %>
		                      <%= link_to 'Back', :back %>
		                    </li>
		                  </ul>
		                 </div>
		            </td>
		          </tr>
		          <tr><td>
		            <div class="comment_form"></div>
		            <ul class="show_comment-<%=@post.id%>">
		            	<%= render @post.comments %>
		            </ul>
		          </td></tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
