<ul class="nav nav-pills float-right">
  <li class="nav-item <%#= active(blast.admin_path) %>" >
  <%= link_to user_path(current_user),
          class: "nav-link #{users_path}" do %>
     Profile
       <% end %>
  </li>
  <li class="nav-item <%#= (blast.admin_messages_path) %>">
    <%= link_to 'Messages', "#",
                          class: "nav-link" %>
  </li>
  <li class="nav-item <%#= active(blast.admin_friendships_path) %>">
    <% friend_count = Friendship.where(user_id: current_user.id).count %>
    <% friend_count += Friendship.where(friend_id: current_user.id).count %>
    <%= link_to friendships_path, class: "nav-link #{friendships_path}" do %>
      Friends (<%= friend_count %>)
      <!-- <span class="badge">(<%#= current_user.friendships.count %>)</span> -->
     <% end %>
  </li>
  <li class="nav-item <%#= active(blast.admin_posts_path) %>">
  <%= link_to "#",
          class: "nav-link" do %>
     Posts
          <span class="badge">(<%= current_user.id %>)</span>
   <% end %>
</li>
</ul>