<h2 class='float-left'>
<%= render "users/profile_avatar", user: user %></h2>
<ul class="nav nav-pills float-right">
  <li class="nav-item <%= active(users_path) %>" >
  <%= link_to user_path(user), class: "link_to", remote: (user != current_user),
          class: "nav-link #{users_path}" do %>
     Profile
       <% end %>
  </li>
  <% if (user.id == current_user.id) %>
    <li class="nav-item <%= active(messages_path) %>">
      <%= link_to 'Messages', messages_path, class: "nav-link" %>
    </li>
  <% end %>
  <li class="nav-item <%= active(friendships_path) %>">
    <%= link_to friendships_path(:user_id => user.id), remote: (user != current_user), class: "nav-link #{friendships_path}" do %>
      Friends (<%= user_friendship(user.id).count %>)
     <% end %>
  </li>
  <li class="nav-item <%= active(posts_path) %>">
  <%= link_to posts_path(:user_id => user.id), remote: (user != current_user), class: "nav-link" do %>
     Posts (<%= user.posts.count %>)
   <% end %>
  </li>
</ul>
<style type="text/css">
  .div-<%= user.id == current_user.id %> {
    background-color: white;
  }
</style>